/*
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body {
    color: #252525;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    font-size: 16px;

  }
  
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  /* Nav bar styles -------> */
